<?xml version="1.0"?>
<config version="1.0" serial="76" timestamp="1462851566.19">
  <Lib>
    <Account>
      <IdleTimeForAway>300</IdleTimeForAway>
      <IdleTimeForNA>1800</IdleTimeForNA>
      <Migration>63</Migration>
      <OMigration>1</OMigration>
    </Account>
    <Call>
      <MissedCallsRegistrarAnchor>https://api.mcr.skype.com/clients/v1/users/Skype/vijay.k303/missed-calls?anchor=mcr20160229.20140104.NE1.FFFFFFFFFFFFFFFF;mcr20160229.20140104.WE1.FFFFFFFFFFFFFFFF;mcr20160229.20140104.WUS1.FFFFFFFFFFFFFFFF</MissedCallsRegistrarAnchor>
    </Call>
    <CentralStorage>
      <LastBackoff>0</LastBackoff>
      <LastFailure>0</LastFailure>
      <LastSync>1457863604</LastSync>
      <NeedSync>0</NeedSync>
      <SyncSet>
        <p>
          <email>720c8e72:2</email>
          <phones>d3c935a2:2</phones>
          <profile>c3afd26f:2</profile>
        </p>
        <u>
          <_.2B919941078831>605ce14f:2</_.2B919941078831>
          <echo123>9db4df93:2</echo123>
          <joshuawatson88>e063a7c2:2</joshuawatson88>
          <unni.2Esridharan>cd3267c9:2</unni.2Esridharan>
          <viji.2Evijay404>a9ac6b8b:2</viji.2Evijay404>
        </u>
      </SyncSet>
    </CentralStorage>
    <Contacts>
      <Migration>3</Migration>
    </Contacts>
    <Conversation>
      <ConversationStatistics>
        <ConnectivityTimeStamp>1462851542</ConnectivityTimeStamp>
        <TimeStamp>1462851542</TimeStamp>
      </ConversationStatistics>
      <CreationTimestampFixed>1</CreationTimestampFixed>
      <DupeLegacyDeleted2>1</DupeLegacyDeleted2>
      <GivenDisplaynameFixed>1</GivenDisplaynameFixed>
      <GroupChatStatisticsEvent>
        <TimeStamp>1462851542</TimeStamp>
      </GroupChatStatisticsEvent>
      <IsBlockedFixed>1</IsBlockedFixed>
      <LastMessageIdFixed3>1</LastMessageIdFixed3>
      <PermanenceFixed>1</PermanenceFixed>
      <PruningHorizon>1462851527</PruningHorizon>
      <RecentlyLiveTimeout>0</RecentlyLiveTimeout>
      <UpdateConversationsInboxMessageIdFromLastMessage>1</UpdateConversationsInboxMessageIdFromLastMessage>
    </Conversation>
    <DynContent>
      <LastIpCountry>in</LastIpCountry>
      <S>
        <LastTime>1462851528</LastTime>
      </S>
      <UILang>en</UILang>
    </DynContent>
    <MSNPCore>
      <HomeServer>BAYMSGR2012121.gateway.messenger.live.com</HomeServer>
      <NewThreadAllowed>1</NewThreadAllowed>
      <P2PMigrationAllowed>0</P2PMigrationAllowed>
      <ProtocolToUse>24</ProtocolToUse>
      <RecentConnectionInfo>BAYMSGR2012121.gateway.messenger.live.com@2016-03-31T12:28:36Z,BAYMSGR2012121.gateway.messenger.live.com@2016-03-31T12:46:03Z,BAYMSGR2012121.gateway.messenger.live.com@2016-03-31T13:24:53Z,BAYMSGR2012121.gateway.messenger.live.com@2016-04-10T11:31:25Z,BAYMSGR2012121.gateway.messenger.live.com@2016-05-10T03:38:57Z,</RecentConnectionInfo>
      <RecentConversationsSyncState>17e896719352010000000000000000000000000000000000000a00000076696a61792e6b3330330000000000000000023b53726f53010000c8dbf0ff53010000610bf1ff530100007a1fbf9854010000023b53726f53010000c8dbf0ff53010000610bf1ff530100007a1fbf98540100000100000000000000007a1fbf985401000001e8967193520100007a1fbf98540100000000000000000000</RecentConversationsSyncState>
    </MSNPCore>
    <Notification>
      <LastID>1000000048</LastID>
      <LastPoll>1462851527</LastPoll>
      <LastSearch>1462851527</LastSearch>
    </Notification>
    <PM>
      <pslut>1462851528</pslut>
    </PM>
    <ProfilePopulated>1</ProfilePopulated>
    <PropsManager>
      <PermaProps>410600AA020000AE200000AB200000872000008920ECAFC5B90500FC0105</PermaProps>
    </PropsManager>
    <PushNotifications>
      <PK>x63b96e5849660f569da6647d9c48b16f3340bb86c3be310304de7fda41b97eff348ce36c7078fc363dc4c91e79682eef8654d7be10f6d88285fa059d8e07d33444883ef4</PK>
    </PushNotifications>
    <Sms>
      <CliOptions>4100</CliOptions>
      <CliOptionsFetchedOK>0</CliOptionsFetchedOK>
      <CliOptionsVersion>2</CliOptionsVersion>
    </Sms>
    <StatsSender>
      <Phase2>
        <ProposedDelivery>1459421578</ProposedDelivery>
      </Phase2>
      <SubmitID>15</SubmitID>
      <Type2SubmitID>
        <_1>15</_1>
      </Type2SubmitID>
    </StatsSender>
    <table_insert_history>
      <_05d9ba90753e4e2708172addbc22c35c9f2a5d342c9fbecb4bfffa8359f4fc10>1462937937 22285:21600:1462851537 60060:17280:1462851537 2147485227:86400:1462851537</_05d9ba90753e4e2708172addbc22c35c9f2a5d342c9fbecb4bfffa8359f4fc10>
    </table_insert_history>
  </Lib>
  <UI>
    <ConversationsWindow>
      <Height>300</Height>
      <Width>700</Width>
      <X>66</X>
      <Y>52</Y>
    </ConversationsWindow>
  </UI>
</config>
